* {
    margin: 0px;
    padding: 0px;
    font-family: Century Gothic;
}

body {
    font-size: 100%;
    margin-top: 2%;
}

.image-logo
{
    width: 350px;
    height: 300px;
    max-width: 100%;
    height: auto;
    display: inline block;
    display: flex;
}
.logo
{
    display: flex;
    justify-content: center;

}
#nav {
    overflow: hidden;
    background-color: #0078AA;
    justify-content:space-around;
    display: flex;
  }
  
  #nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 15.3%;
    text-decoration: none;
    font-size: 17px;
    display: flex;
  }
  
  #nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #nav a.active {
    background-color: rgb(255, 60, 0);
    color: white;
  }

.h1{
    font-size: 30px;
    text-align: left;
    display: inline-block;
    display: flex;
}
.info-user
{
    display: inline-block;
    display: flex;
}
.name-user{
    color: orangered;
    margin-left: 1%;
}
.img-user
{
    width: 80px;
    height: 50px;
    max-width: 100%;
    height: auto;
    display: inline block;
}
.div-user{
    font-size: 20px;
    font-weight: 500;
    justify-content: space-around;
    display: flex;
    margin-top: 1%;
}
.icon
{
    font-size: 30px;
    color: #0078AA;
    display: inline-block;
    display: flex;
}

.h2
{
    margin: 1%;
}

.default tr>th,td 
{
    border: 1px solid grey;
    padding: 1%;

}


.default 
{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.default tr:nth-child(even) td 
{
    background-color: #AEBDCA;
}

.default tr th 
{
    background-color: #0078AA;
    color: aliceblue;
}
.div-redes
{
    display: inline-block;
    justify-content: center;
}